@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@layer utilities {
    .animate-in {
        animation-fill-mode: both;
        animation-name: slideInFromTop;
        animation-duration: 300ms;
    }
}

@theme {
    --animate-pulse-fast: pulse 2000ms cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
